<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Nick Bratton</title>
        <script type="text/javascript" src="/static/js/lib/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="http://api.html5media.info/1.1.6/html5media.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/raphael.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/spinner.js"></script>
        <script type="text/javascript" src="/static/js/menu_actions.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css' />
        <link href="/static/css/style.css" rel='stylesheet' type='text/css'>
    </head>
    <body id="home-body" background="/static/images/nikolas.jpg">
        <div id="main-box">
            <div class="content" id="about-content">
                First it was Las Vegas, NV.
                <br/>
                Now it's Eugene, OR.
                <br/>
                Soon it will be New York City, NY.
                <br/>
                <br/>
                Enjoy my tracks and photos.
                <br/>
                <br/>
                Contact me to collaborate, re-use my material, or to say hi. 
            
            </div>

            <div id="visual-content" class="content starting-content">
                <div class="images">
                    <div class="image-wrapper">
                        <img src="/static/images/pictures/City_no1.jpg" />
<!--                         <div class="picture-description" id="first-description">
                            City No. 1
                        </div> -->
                    </div>
                    <div class="image-wrapper">
                        <img src="/static/images/pictures/Shapes_For_Storage.jpg" />
<!--                         <div class="picture-description">
                            Shapes For Storage
                        </div> -->
                    </div>
                    <div class="image-wrapper">
                        <img src="/static/images/pictures/Sleep_Mode.jpg" />
<!--                         <div class="picture-description">
                            Sleep Mode
                        </div> -->
                    </div>
                    <div class="image-wrapper">
                        <img src="/static/images/pictures/The_Hunter.jpg" />
<!--                         <div class="picture-description">
                            The Hunter
                        </div> -->
                    </div>
                    <div class="image-wrapper">
                        <img src="/static/images/pictures/Untitled_1-30.jpg" />
<!--                         <div class="picture-description">
                            Untitled 1/30
                        </div> -->
                    </div>
                </div>
            </div>

            <div id="audio-content" class="content starting-content">
                <ul id="audio-collections">
                    <li id="collection1">
                        <div class='audio-collection'>
                            <img src="/static/images/Collection1.jpg" />
                            <div class="tracklisting">
                                Collection 1:
                                <br/>
                                1. Block 11
                                <br/>
                                2. [nUxi]
                                <br/>
                                3. Right For You
                            </div>
                        </div>
                    </li>
                    <li id="collection2">
                        <div class='audio-collection'>
                            <img src="/static/images/Collection2.jpg" />
                            <div class="tracklisting">
                                Collection 2:
                                <br/>
                                1. Time Bomb
                                <br/>
                                2. We Don't Know What Love Is
                                <br/>
                                3. Fire Drill
                            </div>
                        </div>
                    </li>
                    <li id="collection3">
                        <div class='audio-collection'>
                            <img src="/static/images/Collection3.jpg" />
                            <div class="tracklisting">
                                Collection 3:
                                <br/>
                                1. Life Worth Living
                                <br/>
                                2. &ltrdJ3
                                <br/>
                                3. Untitled
                                <br/>
                                4. Block 22
                            </div>
                        </div>
                    </li>
                    <li>
                        <audio src="/static/music/promo_mix1.ogg" controls preload="auto">
                        </audio>
                        <a href="/static/music/promo_mix1.mp3">
                        </br>
                            Download the 15 min. promo mix here (right click 'save link as')
                        </a>
                    </li>
                </ul>
                
            </div>

            <div id="blog-content" class="content starting-content">
                <iframe src="http://kindfires.tumblr.com" height="100%" width="100%">
                    <p>Your browser does not support iframes.</p>
                </iframe>

            </div>

            <div id="contact-content" class="content starting-content">

                <a href="#" id="contact-email">
                    nick@nickbratton.com
                </a>

            </div>

            <div id="spinner">

            </div>

        </div>
        <div id="menu-bar">
            <ul id="menu-buttons">
                <li class="menu-button">
                    <a href="#" id="audio" >
                        audio
                    </a>
                </li>
                <li class="menu-button">
                    <a href="#" id="visual">
                        visual
                    </a>
                </li >
                <li class="menu-button">
                    <a href="#" id="about">
                        about
                    </a>
                </li>
                <li class="menu-button">
                    <a href="#" id="blog">
                        blog
                    </a>
                </li>
                <li class="menu-button">
                    <a href="#" id="contact">
                        contact
                    </a>
                </li>
            </ul>
        </div>
    </body>
</html>
